<div class="container">
  <div class="row">
    <h1>Stock Market Dashboard</h1>
    <div class="card-group" style="width: 55rem;column-gap: 1rem;">
      <div class="card text-center" *ngFor="let stock of stocks; let i = index">
        <div class="card-body" [style.background-color]="i.checked ? '#DCDCDC' : ''">
          <h5 class="card-title">{{ stock?.symbol?.toUpperCase() }}</h5>
          <p class="card-text">{{ stock?.lastTradePriceOnly | currency: "USD":"symbol":".2" }}</p>
          <p class="card-text">
            <span class="text-muted">{{ stock?.change | currency: "USD":"symbol":".2" }} </span>
            <span class="text-muted">{{ stock?.changeInPercent | percent: ".2" }}</span>
          </p>
          <label class="switch">
            <input #i type="checkbox" id="togBtn" (change)="(!i['checked'])">
            <div class="slider round">
              <span class="on">ON</span>
             <span class="off">OFF</span>
            </div>
           </label>
        </div>
      </div>
    </div>
  </div>
</div>
